/* reset */
*  {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-ms-box-sizing: border-box;
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

/* document */
body {
	font-family: "URW Gothic L", "Helvetica", "Arial", sans-serif;
	display: flex;
	flex-flow: row;
	flex-wrap: wrap;
}


/* containers */
body > header, body > footer {
	width: 100%;
	padding: 1rem;
	display: flex;
	justify-content: space-between;
	align-items: center;
	background: cornflowerblue;
}
body > footer {
	margin-top: 0.5rem;
}
body > footer a {
	display: block;
}
body > .structure {
	width: 100%;
}
body > .structure section {
	padding: 0.5rem;
}
.structure > nav > ul {
	padding: 0.5rem;
	background: rgb(230,230,230);
}
.tools {
	width: 100%;
	background: steelblue;
	padding: 0.5rem;
	display: flex;
	justify-content: space-between;
	align-items: center;
	color: white;
}
.tools section form {
	display: flex;
}
.tools nav a {
	color: white;
}
img, video, audio, object {
	width: 100%;
	height: auto;
}
iframe {
	width: 100%;
	height: calc(56.25vw - 0.5625rem);
	border: none;
}

article {
	background: rgb(230,230,230);
	padding: 0.5rem;
}
article+article {
	margin-top: 0.5rem;
}
article header, article footer {
	padding: 0.5rem;
	margin-left: -0.5rem;
	margin-right: -0.5rem;
}
article header {
	background: steelblue;
	color: white;
	margin-top: -0.5rem;
	margin-bottom: 0.5rem;
}
article footer {
	background: silver;
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-top: 0.5rem;
	margin-bottom: -0.5rem;
}


/* images */
figure {
	margin: 0;
}
header svg {
	width: 5em;
	height: auto;
}
button img {
	height: 1em;
	width: auto;
}


/* text */
h1 {
	font-size: 3rem;
	padding: 0.5rem;
}
h2 {
	font-size: 2rem;
	padding: 0.5rem;
}
h3 { font-size: 1.5rem; }
h4 { font-size: 1rem; }
p {
	padding: 0.5rem 0;
}
a {
	color: black;
	text-decoration: underline;
}
a:hover, a:active, a:focus {
	text-decoration: none;
}
small { display: block; }


/* lists */
ul {
	list-style-type: none;
}
ul, ol {
	list-style-position: inside;
}
dl dt {
	font-weight: bold;
}
dl dd {
	margin-left: 1rem;
}
nav ul ul {
	margin-left: 1rem;
}


/* table */
table {
	width: 100%;
	background: silver;
	border-collapse: collapse;
}
th, td {
	padding: 0.5em;
}
th {
	background: gray; color: white;
}
tbody th {
	text-align: left;
}
tbody td {
	text-align: center;
}


/* forms */
form {
	padding: 0.5rem;
}
aside form {
	background: rgb(230,230,230);
}
label {
	margin-top: 0.5rem;
}
label, input:not([type="radio"]):not([type="checkbox"]), textarea, select {
	display: block;
}
aside form input:not([type="radio"]):not([type="checkbox"]), aside form, textarea, aside form select {
	width: 100%;
}
fieldset {
	padding: 0.5rem;
	border: 0.05rem solid silver;
}

@media all and (min-width: 1000px) {
	main {
		width: 70%;
	}
	aside {
		width: 29.25%;
		margin-left: 0.75%;
	}
	iframe {
		width: 100%;
		height: calc( ( 0.7 * 56.25vw ) - 0.5625rem );
	}
}

@media all and (min-width: 1400px) {
	body > .structure {
		width: 14.5%;
		margin-right: 0.5%;
	}
	main {
		width: 60%;
	}
	aside {
		width: 24.5%;
		margin-left: 0.5%;
	}
	iframe {
		width: 100%;
		height: calc( ( 0.6 * 56.25vw ) - 0.5625rem );
	}
}
